@font-face {
   font-family: 'Poppins-Bold';
   src: url('Poppins-Bold.ttf');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'Poppins-Medium';
   src: url('Poppins-Medium.ttf');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'Poppins-Regular';
   src: url('Poppins-Regular.ttf');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'Poppins-SemiBold';
   src: url('Poppins-SemiBold.ttf');
   font-weight: normal;
   font-style: normal;
}